{{!
    This file is part of Moodle - https://moodle.org/
    
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with Moodle. If not, see
    <http: //www.gnu.org/licenses />.
}}
{{!
    @template mod_jupyter/grades

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "grade_overview": [
            {
                "questionnr": 1,
                "points": 0.0,
                "maxpoints": 100.0,
                "output": "otto grader output"
            },
            {
                "questionnr": 2,
                "points": 0.0,
                "maxpoints": 100.0,
                "output": "output"
            }
        ]
    }
}}

<div>
    <h1>Results</h1>
    <ul class="list-group">
        {{#grade_overview}}
        <li class="list-group-item">
            <b>Question {{questionnr}}</b>: {{points}} / {{maxpoints}} points
            <a class="btn btn-primary float-right" data-toggle="collapse" href="#collapseOutput-{{questionnr}}" role="button" aria-expanded="false" aria-controls="collapseOutput-{{questionnr}}">
            View output
            </a>
            <div class="collapse w-75" style="height: 200px" id="collapseOutput-{{questionnr}}">
                <div class="card card-body output" style="white-space: pre-wrap;">{{output}}</div>
            </div>
        </li>
        {{/grade_overview}}
    </ul>
</div>